*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    margin: auto;
    padding: auto;
    text-align: center;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #6b5d5d;
}
#tarea1 #imagen{
    display: flex;
    justify-content: center;
}
.stickers{
    display: inline-flex;
    justify-content: center;
    margin-top: 20px;
}
.sticker{
    width: 20%;
}
#tarea1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin: 20px;
}
#tarea2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin: 20px;
}
#tarea3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin: 20px;

}
div h2{
    text-align: center;
    margin-top: 20px;
}